//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:     #000 !default;
$gray-darker:   #222;
$gray-dark:     #333;
$gray:          #555;
$gray-light:    #777;
$gray-lighter:  #eee;
$white:         #fff;

$brand-primary: #00ff00; // #337ab7
// $brand-success: #5cb85c !default;
// $brand-info:    #5bc0de !default;
// $brand-warning: #f0ad4e !default;
// $brand-danger:  #d9534f !default;

$facebook: #3b5998;
$red: #ed1c24;