.form-control {
  height: 42px;
  border-radius: 0;
  box-shadow: none;
  border-color: #ccc;
  -webkit-appearance: none;
}
.form-control:focus {
  border-color: $gray-light;
  box-shadow: none;
}

.form-group {
  margin-bottom: 10px;
}

.form-group.input__single {
	margin-bottom: 48px;
}
.form-group.last {
  margin-bottom: 26px;
}

.checkbox.last {
  margin-bottom: 36px;
}
.checkbox label{
  font-weight: 100;
}
